<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>shiva.Maps</string>

    <key>CFBundleName</key>
    <string>Maps</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show it on the map and provide better search results.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to keep you updated with real-time traffic and nearby places.</string>
</dict>
</plist>
